.TransformBox {
    padding: 5px 0;
}

.TransformBox2 {
    padding: 15px 20px;
}

.Transform {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 20px;
}

.TransformBox > *:not(:first-child) .Transform {
    border-top: dashed 1px darkgray;
}

.TransformBox__icon {
    margin-right: 15px;
    margin-left: -5px;
}

.TransformBox__icon svg {
    width: 24px;
    height: 24px;
}

.TransformBox__input {
    flex-grow: 1;
}