.ContextMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: black 1px solid;
}

.ContextMenu__item {
  display: flex;
  justify-content: flex-start;
  height: 40px;
}

.ContextMenu__item:not(:last-child) {
  border-bottom: black 1px solid;
}

.ContextMenu__itemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}

.ContextMenu__itemText {
  padding: 10px;
}