.react-contextmenu-wrapper {
  width: 100%;
  height: 100%;
}

.react-contextmenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border: black 1px solid;
}

.react-contextmenu-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.react-contextmenu-submenu>.react-contextmenu-item {
  cursor: auto;
}

.react-contextmenu .react-contextmenu-item:hover {
  color: white;
  background-color: black;
}

.react-contextmenu .react-contextmenu .react-contextmenu-item {
  color: black;
  background-color: white;
}

.react-contextmenu .react-contextmenu .react-contextmenu-item svg {
  fill: black;
}

.react-contextmenu .react-contextmenu .react-contextmenu-item:hover {
  color: white;
  background-color: black;
}

.react-contextmenu .react-contextmenu .react-contextmenu-item:hover svg {
  fill: white;
}

.react-contextmenu-item>.react-contextmenu {
  display: none;
}

.react-contextmenu-item:hover>.react-contextmenu {
  display: flex;
}

.react-contextmenu-item:has(.react-contextmenu) {
  color: red;
}

.react-contextmenu-item:hover svg {
  fill: white;
}

.react-contextmenu-item:not(:last-child) {
  border-bottom: black 1px solid;
}

.react-contextmenu-itemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.react-contextmenu-itemText {
  padding: 10px;
}

.react-contextmenu-itemIcon+.react-contextmenu-itemText {
  padding-left: 0px;
}