.react-contextmenu-wrapper {
  width: 100%;
  height: 100%;
}

.react-contextmenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border: black 1px solid;
  border-bottom: none;
  border-top: none;
  z-index: 999;
  font-size: 16px;
}

.react-contextmenu-borderTop {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
}

.react-contextmenu-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.react-contextmenu-submenu>.react-contextmenu-item {
  cursor: auto;
}

.react-contextmenu-item--selected {
  color: white;
  background-color: black;
}

.react-contextmenu-item--selected>span svg {
  fill: white;
}

.react-contextmenu-item>.react-contextmenu {
  display: none;
}

.react-contextmenu-item:hover>.react-contextmenu {
  display: flex;
}

.react-contextmenu-item {
  border-bottom: black 1px solid;
}

.react-contextmenu-itemLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.react-contextmenu-itemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.react-contextmenu-itemText {
  padding: 10px;
  white-space: nowrap;
}

.react-contextmenu-itemIcon+.react-contextmenu-itemText {
  padding-left: 0px;
}