.Workspace {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.Workspace__placeholder {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: grey;
}