.Recursion__options {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Recursion__options input[type='number'] {
    width: 100%;
    text-align: center;
    border-bottom: solid 1px black;
}