.Markov__Parameters {
    padding: 10px;
    position: relative;
}

.Markov__Containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Markov__RangeIcon {
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-color: black;
    border-width: 0 0 1px 1px;
    border-style: solid;
}

.Markov__RangeIcon svg {
    fill: black;
}

.Markov__RangeContainer {
    display: flex;
    width: 100%;
    height: 60px;
}

.Markov__InputsContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height: 20px;
    margin-left: 113px;
    padding: 0 20px;
}
.Markov__InputContainer {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
}

.Markov__Info {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: grey;
}

/*.Markov__InputContainer:not(:last-child) {
    margin-right: 20px;
}*/

.Markov__InputIcon {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Markov__InputIcon svg {
    fill: darkgray;
    cursor: pointer;
}

.Markov__InputIcon.selected svg {
    fill: #000000;
}

.Markov__Input {
    width: 30px;
    color: darkgray;
    background-color: transparent;
}

.Markov__Radar {
  margin: 30px;
  width: 50%;
}

.Markov__Radar .Radar__Outline {
  stroke: #000000;
  fill: #FFFFFF;
  stroke-linecap: round;
  /*stroke-alignment: outer;*/
}

.Markov__Radar .Radar__Shape {
  fill: #000000;
}

.Markov__Radar .Radar__Line {
  stroke: #FFFFFF;
  stroke-width: 1;
  stroke-linecap: round;
}

.Markov__Radar .Radar__Text {
  font-family: "Space Grotesk";
  text-anchor: middle;
  fill: #888888;
  font-size: 10;
}

.Markov__Radar .Radar__Point {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 1;
  cursor: pointer;
}

.Markov__Radar .Radar__Draggable {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 2;
  cursor: grab;
}

.Markov__Radar .Radar__Draggable.isDragging:active {
  cursor: grabbing;
}

.Markov__InputIcon .exponent svg {
  height: 15px;
  position: absolute;
  top: -16px;
  left: 7px;
  transform: rotate(-15deg) translateY(6px);
}

/* .Markov__Input {
    width: 60px;
    padding-left: 20px;
} */

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button {
	-o-appearance: none;
	margin:0;
}
