/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 100%;
  font-family: 'Space Grotesk', Arial, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Paper */

.border-left {
  border-left: black solid 1px;
}

.border-right {
  border-right: black solid 1px;
}

.border-top {
  border-top: black solid 1px;
}

.border-bottom {
  border-bottom: black solid 1px;
}
input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* App */

.textExponent {
  font-size: .75em;
  vertical-align: text-top;
  font-weight: normal;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  background-color: white;
  color: black;
  overflow: hidden;
}

.App-logo {
  display: flex;
  padding: 0 20px 5px;
  font-size: 36px;
  font-weight: 600;
}

.App-header {
  min-height: 60px;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.App-links {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.Header-logo svg {
  width: 35px;
  height: 35px;
}

.Header-logo {
  margin-right: 17px;
}

.App-links a {
  text-decoration: none;
  color: black;
}

.App-links a:first-child {
  margin-right: 10px;
}

.App-links a:hover {
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: row;
  height: calc(100% + -60px);
  height: calc(100vh + -60px);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.button div {
  display: flex;
}

.button:hover {
  background-color: black;
  color: white;
}

.button:hover svg {
  fill: white;
}

.save__format input:checked+label {
  background-color: black;
  color: white;
}

.DropBox {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
}
.leftSide {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
}

.rightSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutContainer {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 0 5vw;
  text-align: left;
/* Prevent text selection */
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.aboutContainer p {
  margin: 10px 0px;
  font-weight: 300;
}

.App-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  min-width: 60px;
}

.aboutTitle {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
}

.aboutLink {
  color: black;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.aboutLink:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.aboutCredits p {
  color: grey;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}