/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 100%;
  font-family: 'Space Grotesk', Arial, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Paper */

.border-left {
  border-left: black solid 1px;
}

.border-right {
  border-right: black solid 1px;
}

.border-top {
  border-top: black solid 1px;
}

.border-bottom {
  border-bottom: black solid 1px;
}
input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* App */

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  background-color: white;
  color: black;
}

.App-logo {
  display: flex;
  padding: 0 20px 5px;
  font-size: 36px;
  font-weight: bold;
}

.App-header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 100%;
  cursor: pointer;
}

.button div {
  display: flex;
}

.button:hover {
  background-color: black;
  color: white;
}

.button:hover svg {
  fill: white;
}

input:checked+label {
  background-color: black;
  color: white;
}

.Instructions {
 width: 50%;
 display: flex;
 flex-direction: row;
 align-items: baseline;
}

.render {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editionMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  text-align: center;
}
.save {
  display: flex;
  height: 100%;
  flex: 1;
}

.save__name {
  flex: 1 1;
  text-align: end;
  padding: 0 20px;
}

.save__format {
  display: flex;
}
