.Box {
    display: flex;
    flex-direction: column;
    border: black solid 1px;
}

.Box__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: white;
  background-color: black;
}
