.Box, .BoxGroup {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: black solid 1px;
  background-color: white;
  transition: all 2s;
}

.Box__wrapper {
  position: relative;
  font-size: 12px;
}

.Box__title {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 40px;
  color: white;
  fill: white;
  background-color: black;
  border-bottom: 1px solid black;
  min-width: 180px;
  cursor: move;
  cursor: grab;
}

.Box__titleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
}

.Box__titleIcon svg {
  width: 20px;
  height: 20px;
}

.Box__titleText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 16px;
  font-weight: 600;
}

.Box__titleIcon+.Box__titleText {
  padding-left: 15px;
  padding-right:  20px;
}

.Box_titleOptions {
  position: absolute;
  right: -12px;
  top: -12px;
  display: flex;
}

.Box__titleOption {
  cursor: pointer;
}

.Box__titleOption svg {
  fill: black;
  background-color: white;
  border-radius: 50%;
}

.Box_titleOption span {
  color: white;
  background-color: white;
  border-radius: 50%;
}

.Box__content {
  display: flex;
  flex-direction: column;
  min-width: 80px;
}

.Box .Box__content .Box__slider {
  width: 100%;
  /*width: calc(100% + -40px);*/
  min-width: 80px;
  margin: 0;
}

.Box__info {
  z-index: 998;
  padding: 10px 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.Box__info p {
  margin: 5px 0;
}

.Box__container {
  padding: 10px;
  border-top: 1px solid black;
}

.Box__placeholder {
  color: grey;
}

.BoxPlaceHolder {
  border: dotted 2px grey;
  color: grey;
  height: 40px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 180px;
}

.BoxPlaceHolder p {
  text-align: center;
}

/* Overwrite rc-slider style */
.Box .Box__content .Box__slider .rc-slider-handle {
  border: solid 2px black;
}
.Box .Box__content .Box__slider .rc-slider-handle:focus {
  border-color: black;
  box-shadow: none;
}
.Box .Box__content .Box__slider .rc-slider-handle-click-focused:focus {
  border-color: black;
  box-shadow: unset;
}
.Box .Box__content .Box__slider .rc-slider-handle:hover {
  border-color: black;
}
.Box .Box__content .Box__slider .rc-slider-handle:active {
  border-color: black;
  box-shadow: none;
}
