.Box {
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    margin: 3px;
    background-color: white;
}

.Box__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: white;
  fill: white;
  background-color: black;
  cursor: move;
  cursor: grab;
}
